* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(https://drive.google.com/file/d/1VPyFRHm9-aX-7KtBg4_nbonny5HQ3syc/view?usp=drive_link) no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top:60px;
}

.row {
    display: flex;
    gap: 20px;
    background-color: white;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.col-5 {
    text-align: left;
}

.col-5 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    
}

h1, h4 {
    margin: 10px 0;
    text-align: center;
    color: #333;
}

.input-box span {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.payment-method img {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}


.submit-button, .cancel-button {
    flex: 1;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    background-color: #007bff;
    color: white;
}

.submit-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #ff4d4d;
    color: white;
}

.cancel-button:hover {
    background-color: #cc0000;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-5 {
        flex: 1 1 100%;
        text-align: center;
    }

    .col-5 img {
        margin-bottom: 20px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}